<section id="" class="news-section common_bg">
	<div class="container reveal active">

		<div class="row row-cols-1 row-cols-md-2 g-4 news d-flex justify-content-center">
		
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>13</h1>
								<h6>Jan 2025</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Free House-to-House Anti-Rabies Vaccine</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br>Simula po ngayong Lunes, Enero 13, mag iikot po ang ating Makati Veterinarian Team sa ating barangay upang magbigay ng libreng Anti-Rabies Vaccine sa ating mga alagang aso’t pusa.<br>Mangyari lamang po na ipakita ang vaccination card ng ating mga alaga kapag sila’y binakunahan.<br>Abangan lamang po sila sa ating lugar simula sa Lunes.<br><br>Maraming salamat po!</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/6512bd43d9caa6e02c990b0a82652dca" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>05</h1>
								<h6>Nov 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Barangay Assembly Day</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br> Kayo po ay aming inaanyayahang dumalo sa ating gaganaping Barangay Assembly ngayong darating na Linggo, Nobyembre 10 sa ganap na ika-9 ng umaga sa 5th floor ng WalterMart Makati.<br>Tayo po ay makinig sa mga proyektong naisagawa at gagawin pa. <br><br>Magkita kita po tayo mga ka-barangay!</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/d3d9446802a44259755d38e6d163e820" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>29</h1>
								<h6>Oct 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Tesda Scholarship for Manpooling</h4></div>
									<p class="card-text">TESDA SCHOLARSHIP FOR MANPOOLING ONLY<br><br>CATEGORY: HOUSEKEEPING NC II</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/45c48cce2e2d7fbdea1afc51c7c6ad26" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>16</h1>
								<h6>Oct 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Recruiting Patrol Men and Women</h4></div>
									<p class="card-text">The Makati City Police is currently recruiting Patrol Men and Women. This is a great opportunity to serve the community and make a difference.<br><br>For inquiries and further details, please contact the recruitment hotline at 0905-3306840 or visit the official Facebook page at <a href="www.facebook.com/pnprss.recruitment" target="_blank"><b>www.facebook.com/pnprss.recruitment.</b></a><br>Applications are being accepted until October 18, 2024.</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/c9f0f895fb98ab9159f51fd0297e236d" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>10</h1>
								<h6>Oct 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Pamaskong Handog Bags</h4></div>
									<p class="card-text">Pasko na sa Makati!<br><br>Narito na ang schedule ng distribution ng tickets at Pamaskong Handog Bags ngayong 2024.<br>Huwag kalimutang magpalista sa MAC Satellite Office ng inyong barangay.<br><br>#WeLoveMakati</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/8f14e45fceea167a5a36dedd4bea2543" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>10</h1>
								<h6>Oct 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Mega Job Fair</h4></div>
									<p class="card-text">The Makati Public Service Office will be conducting a Mega Job Fair on October 10, 2024, from 9:00 am to 3:00 pm, at Circuit Activity Mall, Ayala Malls Circuit, Hippodromo, Makati City.<br><br>In addition to the job opportunities, the fair will include a <b>One Stop Shop</b> service. This will provide attendees access to essential government agencies and service providers, including the Social Security System (SSS), PAGIBIG Fund, Overseas Workers Welfare Administration (OWWA), Department of Migrant Workers (DMW), and Technical Education and Skills Development Authority (TESDA). These agencies will offer various employment and other services, ensuring comprehensive support for all participants.<br><br>To pre-register, you can visit the official<br>registration page at <a href="https://bit.ly/makatimjfoct2024" target="_blank">https://bit.ly/makatimjfoct2024</a>.<br>The list of available job vacancies can be found at this link: <a href="https://bit.ly/MJFOct2024" target="_blank">https://bit.ly/MJFOct2024</a>.<br><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/jobfair1.jpg" class="img-fluid rounded-start" alt="..."><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/jobfair2.jpg" class="img-fluid rounded-start" alt="..."></p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/1679091c5a880faf6fb5e6087eb1b2dc" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>11</h1>
								<h6>Sep 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>LIBRENG ANTI- SHINGLES VACCINE</h4></div>
									<p class="card-text">Magandang umaga po sa ating mga ka-barangay!<br><br>Ang atin pong pamahalaang lungsod sa pamamagitan ng Makati Health Department ay magbibigay ng LIBRENG ANTI- SHINGLES VACCINE para sa ating mga yellow card holders na 50 taong gulang pataas.<br>Ito po ay magsisimula ngayong ika-11 ng Setyembre (Miyerkules) hanggang ika-13 ng Setyembre (Biyernes), sa ating RHU health center sa Sitio Parada. <br>Dalhin lamang po ang inyong yellow card ID.<br>Ito po ay bukas mula ika-9 ng umaga hanggang ika-3 ng hapon.<br><br>Maraming salamat po.</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/e4da3b7fbbce2345d7772b0674a318d5" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>25</h1>
								<h6>Jul 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Siguraduhing protektado laban sa Leptospirosis!</h4></div>
									<p class="card-text">Taliwas sa kaalaman ng nakararami, hindi lamang sa ihi ng daga nagmumula ang bakterya na nagdudulot ng Leptospirosis.<br>Kung kaya’t ang pagpapanatili ng malinis na kapaligiran ay ang pangunahing sandata upang maiwasan ang sakit na dulot ng bakteryang ito. <br>Narito ang ilan pang impormasyon na dapat nating malaman upang tayo ay makasigurado sa proteksyon ng pamilya laban sa Leptospirosis. <br><br>#DOH #Advisory #WILD #WILDDiseases #Leptospirosis #Health #BagongPilipinas #KagawaranNgKalusugan #OneDOH <br><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/leptospirosis1.jpg" class="img-fluid rounded-start" alt="..."><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/leptospirosis2.jpg" class="img-fluid rounded-start" alt="..."><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/leptospirosis3.jpg" class="img-fluid rounded-start" alt="..."></p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/a87ff679a2f3e71d9181a67b7542122c" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>26</h1>
								<h6>Mar 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>Libreng Tuli Pre-Screening</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br>Maaari na po tayong magpa screen ng ating mga anak na lalaki edad 10-pataas para sa darating na Libreng Tuli.<br>Mangyari lamang po na magpunta sa ating mga health centers upang makapagpalista at makapagpacreeen.<br><br>Maraming salamat po.</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/eccbc87e4b5ce2fe28308fd9f2a7baf3" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>26</h1>
								<h6>Mar 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>TESDA Housekeeping National Certificate Course</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay!<br><br>Tayo po ay nagpapasalamat sa tanggapan ni Congressman Luis Campos sa pagkakaloob ng 25 slots para sa TESDA Housekeeping National Certificate Course.<br>Ito po ay naka First Come, First Serve Basis.<br>Sa mga nais pong makasali, mangyari lamang po na makipag ugnayan sa ating barangay o di kaya naman ay magpadala ng mensahe sa Livelihood Committee Vice-Chairman Kagawad Acha.<br><br>Maraming salamat po.</p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/c81e728d9d4c2f636f067f89cc14862c" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
							<div class="col news-col">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-3 news-date">
								<h1>20</h1>
								<h6>Mar 2024</h6>
							</div>
							<div class="col-9 news-details">
								<div class="card-body">
									<div class="card-title"><h4>2024 Voter Education and Registration Fair</h4></div>
									<p class="card-text">Magandang araw mga ka-barangay! <br><br>Tayo po ay magkakaroon ng Satellite Registration sa ating Barangay Hall bukas, March 21, mula ika-8 ng umaga hanggang ika-4 ng hapon.<br>Para po sa mga proseso at requirements, mangyari lamang po na basahin ang mga paalala sa ating pubmat.<br><br>Maraming salamat po at #MagpaRehistroKa!<br><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/voter1.jpg" class="img-fluid rounded-start" alt="..."><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/voter2.jpg" class="img-fluid rounded-start" alt="..."><br><img src="https://brgypiodelpilarmakati.com.ph/assets/images/news/voter3.jpg" class="img-fluid rounded-start" alt="..."></p>
									<p class="card-text card-a"><a name="" id="" href="https://brgypiodelpilarmakati.com.ph/news/page/c4ca4238a0b923820dcc509a6f75849b" role="button">Read More <i class="fas fa-arrow-right"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>

	</div>
	
</section>