<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="head-title"> 
                {{ content.field_logo }}
                <h1><small>{{ content.field_small_title }}</small>
                {{ content.field_barangay_title }}</h1>
            </div>
        </div>
    </div>
</div>