<section id="services" class="service-offer-banner common_bg">
  <div class="container">
    <div class="row service-offer">
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 service-offer-img text-center">
        <img src="{{ base_path ~ directory }}/images/id.svg" alt="Barangay ID">
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 service-offer-info">
        <h5>Barangay ID</h5>
        <p>
          <b>New Applicant</b>
          {% if node.field_brgyid_req is defined %}
            <ol>
              {% for item in node.field_brgyid_req %}
                <li>{{ item.value }}</li>
              {% endfor %}
            </ol>
          {% endif %}
          <button type="button" class="btn btn-primary">
            <i class="fas fa-file-download"></i> Download Application Form
          </button>
        </p>
      </div>
    </div>

    <div class="row service-offer">
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 service-offer-img text-center order-lg-last">
        <img src="{{ base_path ~ directory }}/images/docs.svg" alt="Barangay Clearance">
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 service-offer-info">
        <h5>Barangay Clearance</h5>
        <p>
          {% if node.field_clearance_req is defined %}
            <ol>
              {% for item in node.field_clearance_req %}
                <li>{{ item.value }}</li>
              {% endfor %}
            </ol>
          {% endif %}
          <button type="button" class="btn btn-primary">
            <i class="fas fa-file-download"></i> Download Application Form
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
